.labelLogin{
    color: #fff;
    font-size: 20px;
  }
  input[name=username]{
    width: 100%;
  }
  input[name=password]{
    width: 100%;
  }
  .h2popular{
    text-transform: uppercase;
  }
  .loginTekst{
    margin-bottom: 50px;
    text-align: center;
  }
  .book-btn{
    margin-left: 80px;
  }
  input[name=firstName]{
    width: 100%;
  }
  input[name=lastName]{
    width: 100%;
  }
  input[name=email]{
      width: 100%;
  }
  input[name=usernameR]{
    width: 100%;
}
input[name=passwordR]{
    width: 100%;
}
input[name=passwordConf]{
    width: 100%;
}
.indeksNaslov{
  margin-top: 60px;
}
.registerNaslov{
  margin-top: 60px;
  text-align: center;
}
.futer{
  height: 400px;
}
.authorSlika{
  width: 200px;
  height: 600px;
}
.errorMine{
  border: 1px solid #ff0000;
}
.succRegister{
  color: #20ff58;
  background-color: #000;
  border-color: #000;
  border-radius: 5px;
  width: 20%;
  padding: 7px;
  text-align: center;
}
#car-body-icon, #car-mileage-icon, #car-transmission-icon, #top-speed-icon, #car-fuel-icon, #car-kilowats-icon, #car-seat-icon {
  height: 60px;
}
#car-drive-icon{
  height: 50px;
}
.car-single-buy.row{
  display: block;
  align-items: center;
  justify-content: center;
}
.dugmeKupi{
  margin-left: -10px;
}
.pnlMargina{
  margin-top:90px;
}
#dolarSpan{
  color: #20ff58;
}