.labelLogin{
    color: #fff;
    font-size: 20px;
  }
  input[name=username]{
    width: 100%;
  }
  input[name=password]{
    width: 100%;
  }
  .h2popular{
    text-transform: uppercase;
  }
  .loginTekst{
    margin-bottom: 50px;
    text-align: center;
  }
  .book-btn{
    margin-left: 80px;
  }
  input[name=firstName]{
    width: 100%;
  }
  input[name=lastName]{
    width: 100%;
  }
  input[name=email]{
      width: 100%;
  }
  input[name=usernameR]{
    width: 100%;
}
input[name=passwordR]{
    width: 100%;
}
input[name=passwordConf]{
    width: 100%;
}
.indeksNaslov{
  margin-top: 60px;
}
.registerNaslov{
  margin-top: 90px;
  text-align: center;
}
.futer{
  height: 400px;
}
.authorSlika{
  width: 200px;
  height: 600px;
}
.errorMine{
  border: 1px solid #ff0000;
}
.succRegister{
  color: #20ff58;
  background-color: #000;
  border-color: #000;
  border-radius: 5px;
  width: 20%;
  padding: 7px;
  text-align: center;
}
#car-body-icon, #car-mileage-icon, #car-transmission-icon, #top-speed-icon, #car-fuel-icon, #car-kilowats-icon, #car-seat-icon {
  height: 60px;
}
#car-drive-icon{
  height: 50px;
}
.car-single-buy.row{
  display: block;
  align-items: center;
  justify-content: center;
}
.dugmeKupi{
  margin-left: -10px;
}
.pnlMargina{
  margin-top:90px;
}
#dolarSpan{
  color: #20ff58;
}
#imeError, #prezimeError, #emailError, #userError, #passError, #passConfError{
  color: red;
}
.tableAdminPanel{
  border: 1px solid #000;
  border-radius: 5px;
  background-color: rgb(184, 226, 222);
  
}

.center-div {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-height: 600px;
  overflow: hidden;
  overflow-y: auto;
}
footer {
  width: 100%;
  left: 50%;bottom: 0%;
  transform: translate(-50%,0%);

}
.container-fluid {
  height: 100%;
}
.text-success,
.text-danger {
  position: absolute;z-index: 9999;
  background: white;
  font-size: 24px;
  font-weight: 700;
  border-radius: 16px;
  text-align: center;
  max-width: 20%;
  max-height: 20%;
  top: 50%;left: calc(50% + 0px);
  transform: translate(-50%, -50%);
  font-family:'Poppins',sans-serif;
  width: 90%; margin: 0 auto;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,.2);
}
/*____   ____ ____   ___  _     _     
 / ___| / ___|  _ \ / _ \| |   | |    
 \___ \| |   | |_) | | | | |   | |    
  ___) | |___|  _ <| |_| | |___| |___ 
 |____/ \____|_| \_\\___/|_____|_____|                                      
*/
/* Sa shadowom */
/* .center-div::-webkit-scrollbar{width:10px!important;height:8px;cursor:grabbing!important;}
.center-div::-webkit-scrollbar-track{
  border-radius:15px;
  margin-top:5px;
  margin-bottom:10px;cursor:grabbing!important;
  box-shadow:inset 0 0 6px rgba(0,0,0,0.3)!important; 
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3)!important; 
}
.center-div::-webkit-scrollbar-thumb{
  background:var(--blue);cursor:grabbing!important;border-radius:15px;
}
/* Bez shadowa */
.scroll2{unicode-bidi:bidi-override;direction:ltr;}
.scroll2::-webkit-scrollbar{direction:rtl;width: 10px!important;height:8px;cursor:grabbing!important;}
.scroll2::-webkit-scrollbar-track{
  margin-top:5px;margin-bottom:10px;cursor:grabbing!important;border-radius:15px;
}
.scroll2::-webkit-scrollbar-thumb{background: var(--blue);cursor:grabbing!important;border-radius:15px;} */
.blokZaCentriranje{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
#firstNameError, #lastNameError, #messageError{
  color: red !important;
}
.logoutbtn{
  margin-top: 8px;
  
}
.crvena{
  color:red !important;
}
.adminPanelBoja{
  color: #fff !important;
}
.bela{
  color: #fff !important;
}
.korisnikIme{
  width: 100%;
  text-align: center;
}
.plava{
  color: rgb(67, 114, 224) !important;
}
.searchForma{
  margin-bottom: 20px;
  margin-left: 16px;
}
.autoHeight{
  height: auto;
}
.search-img{
  width: 180px;
  height: 100px;
}

